.wrapper {
  width: 100%;
  min-width: 1024px;
}

.grid {
  overflow: hidden;
}

.grid-column {
  position: relative;
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.grid-column + .grid-column {
  // margin-left: 3.125%;
}

.grid-column_1of5 {
  width: 17%;
}

.grid-column_3of5 {
  width: 57%;
}

.grid-column_5of5 {
  width: 100%;
}