@import "compass";
@import "lightslider";
@import "grid";
@import "font";

body {
	background-color: #f5cc47;
	padding-top: 16px;
}
.row-fuel-name {
	margin: 4px 0;	
}

.fuel-name {
	display: block;
	border-radius: 12px;
	border: 1px solid #0d4473;
	height: 134px;
	&.fuel-name-92 {
		border-color: #0d4473;
		background-color: #449cdb;
		@include filter-gradient(#449cdb, #306e9b, vertical);
		@include background-image(linear-gradient(top, #449cdb 0%,#4298d5 50%,#306e9b 100%));
	}
	&.fuel-name-95 {
		border-color: #800311;
		background-color: #c20a38;
		@include filter-gradient(#c20a38, #910729, vertical);
		@include background-image(linear-gradient(top, #c20a38 0%,#d8385d 39%,#910729 100%));
	}
	&.fuel-name-98 {
		border-color: #3d5d15;
		background-color: #00aa55;
		@include filter-gradient(#00aa55, #007037, vertical);
		@include background-image(linear-gradient(top, #00aa55 0%, #00a050 50%, #007037 100%));
	}
	&.fuel-name-DT {
		border-color: #5c2907;
		background-color: #733200;
		@include filter-gradient(#733200, #471f00, vertical);
		@include background-image(linear-gradient(top, #733200 0%,#733200 50%,#471f00 100%));
	}
	span {
		font-size: 120px;
		color: #fff;
		display: block;
		height: 135px;
		line-height: 150px;
		text-align: center;
		font-family: 'Myriad Pro';
	}
}
.cell {
	text-align: center;
	display: block;
	width: 20%;
	float: left;
	padding: 7px 0;
	.cell-numbers {
		list-style: none;
		padding: 0;
	}

	li {
		list-style: none;
		display: block;
		font-size: 120px;
		// line-height: 1.2;
		color: #fff;
		text-align: center;
		font-family: 'Myriad Pro';
		padding: 0;
		margin: 0;
	}
}
.lSSlideOuter.vertical, .cell-numbers-dot {
	height: 120px;
	display: inline-block;
	border-radius: 10px;
	font-size: 120px;
	color: #fff;
	text-align: center;
	font-family: 'Myriad Pro';
	width: 105px;	
	background-color: #979799;
	@include filter-gradient(#979799, #404144, vertical);
	@include background-image(linear-gradient(top, #979799 0%,#5b5c5e 50%,#404144 100%));
}
.row {
	float: left;
	width: 100%;
}
.row-black {
	border-radius: 12px;
	background-color: #000;
	margin: 4px 0;
	height: 135px;
	padding: 0 3px;
	overflow: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%; // Part 1: Set a maximum relative to the parent
	height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
.logo-1 {
	margin: 20px 0 80px;
}
.logo-2 {
	margin: 90px 0 20px;
}

.ui-loader {
	display: none;
}

button {
	background-color: transparent;
	border-color: transparent;
}